* {
    font-family: "Abel", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

html { background-color: #000000; }

body {
    -ms-background-repeat: no-repeat;
    -ms-background-size: 100% 100px;
    background: #000000;
    background-color: #000;
    background-repeat: no-repeat;
    background-size: 100% 1000px;
    min-height: 1000px;
    width: 100%;
    overflow: hidden;
}

.main {
    align-content: center;
    display: flex;
    height: 100%;
    width: 100%;
}

#live-scores {
    height: 200px; 
    position: fixed; 
    bottom:0%;
    width:100%; 
    background-color: #393838;
    -ms-opacity: 1.0;
    opacity: 1.0;
}

#bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 150px;
    display: table-row;
    width: 100%;
    color: #aaaaaa;
    padding: 0.5em;
    font-size: 1.5em;
}

#information {
    display: table-cell;
    position: absolute;
    left: 0;
    top: 0;
    color: #aaaaaa;
}

#top {    
    height: 500px;        
    position: relative;
    top: 0;
    left: 0;    
}

#topcontent {    
    height: 300px;
    width: 100%;
    display: table-cell;    
    position: absolute;
    margin: auto;    
    top: 50%;        
}

#topcontent img {
    display: block;
    width: 400px;    
    margin: auto;
}

.scoreblock {
    -moz-align-content: center;    
    -o-align-content: center;
    -o-justify-content: center;
    -webkit-align-content: center;
    -webkit-justify-content: center;
    align-content: center;    
    color: #FFFFFD;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 0.1em;
    padding: 0.1em 0.5em;
    height: 100px;
    padding-left: 1em;
    padding-right: 1em;  
    height: 100px;
    width: 95%;          
}

.playerElement {
    align-content: center;    
    border: 0;    
    color: #dddddd;
    display: table-cell;
    vert-align: middle;
    font-size: 3.0em;
    width: 25%;
    height: 80px;
    justify-content: center;
    margin: 0.2em;
    padding: 0.2em;
    position: relative;    
    z-index: 3;    
}

#playerB {
    text-align: right
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;    
}

.scoreElement {
    align-content: center;
    background-color: transparent;
    border: 0;    
    color: #FFFFFD;        
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
    font-size: 6em;
    height: 80px;
    justify-content: center;
    margin: 0.2em;
    padding: 0;
    position: relative;
    width: 120px;
    z-index: 3;
}

.scoreSmall {    
    width: 80px;
    height: 80px;       
}

.scoreSeparator {    
    width: 20px;    
}

.scoreGamesContainer {
    height: 90px;
}

.scoreHeaderContainer {
    height: 36px;
}

.scoreHeader {
    width: 200px;
    height: 32px;
    -ms-border-radius: 4px;
    border-radius: 6px;
    background-color: #eee;
    color: #000000;
    font-size: 16pt;    
}

.scoreSmall span{
    font-size: 0.65em;    
}

.scoreServing {    
    color: yellowgreen;        
}

.opacityZero {
    opacity: 0;   
}

.scoreElement span {
    align-content: center;
    align-self: center;
    display: block;
    margin: auto;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

.serviceElement {
    display: block;
    background-color: yellowgreen;
    width: 50px;
    height: 50px;
    margin: auto;
    -ms-border-radius: 50%;
    border-radius: 50%;
}


#mainmatch {
    margin: auto;
    max-width: 30em;
    position: relative;
}

#matchcontainer {
    align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    min-width: 20em;
    padding: 2em;
    position: relative;
}

#clubfinder {
    width: 100%
}

.centerContainer{
    display: table;    
    margin: auto;
    position: relative;
    align-content: center;
}

#clubfinder input {
    display: inline-block;
    margin: 5px;
    min-width: 300px;
    font-size: 1.2em;
    -ms-border-radius: 6px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    padding: 0.5em;
    border-radius: 6px;    
    border: #6f808a solid 3px;
    outline: 0;
}

#clubfinder svg {
    fill: #6f808a;
    max-height: 2em;
    max-width: 2em;
    vertical-align: middle;
    margin: 4px;
}

.team {
    clear: both;
    display: inline-block;
    padding: 1em;
    position: absolute;
    top: 0;
}

#court {
    align-content: center;
    color: #FFFFFD;
    font-size: 1.6em;
    margin: auto;
    min-width: 20em;
    position: relative;
}

#teams {
    display: block;
    min-width: 32em;
    position: relative;
}

#teama {
    left: 0;
    padding-right: 2em;
}

#teamb {
    align-content: right;
    justify-content: right;
    padding-left: 2em;
    right: 0;
    text-align: right;
}

.teamgame {
    align-content: center;
    background-color: #2B383E;
    border: #6F808A solid 2px;
    border-radius: 50%;
    color: #FFFFFD;
    display: flex;
    flex-flow: row nowrap;
    font-size: 2.5em;
    height: 2em;
    justify-content: center;
    margin: 0.2em;
    padding: 0;
    position: relative;
    width: 2em;
    z-index: 3;
}

.setcontainer {
    display: flex;
    flex-direction: row;
    position: relative;
}

.teamgame span {
    align-content: center;
    align-self: center;
    display: block;
    margin: auto;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

.scorecontainer {
    display: table;
    margin: auto;
    max-width: 25em;
    padding-left: 10em;
    padding-right: 10em;
    position: relative;
}

.homebutton {
    background: #43545C;
    border-radius: 0.4em;
    height: 2em;
    left: 0;
    margin: 0.5em;
    padding: 0.5em;
    position: absolute;
    top: 0;
    width: 2em;
    z-index: 1000;
}

.homebutton svg {
    fill: #FFFFFD;
    max-height: 2em;
    max-width: 2em;
}

.homebutton svg:hover { fill: #29343a; }

.courtname {
    align-self: center;
    font-weight: bold;
    text-align: center;
}

.courtlocation { text-align: center; }

.playerimage {
    background: #29343a;
    border: none;
    border-radius: 50%;
    fill: white;
    height: 8em;
    position: relative;
    width: 8em;
    z-index: 5;
}

.playername {
    color: #FFFFFD;
    font-size: 1.4em;
    font-weight: bold;
}

.playerclub {
    color: #FFFFFD;
    font-size: 1em;
    font-weight: lighter;
}

.match {
    display: block;
    margin: 1em;
}

.matchblock { flex-basis: 50%; }

.blockheader, .club {
    -moz-align-content: center;
    -ms-border-radius: 0.25em;
    -o-align-content: center;
    -o-justify-content: center;
    -webkit-align-content: center;
    -webkit-justify-content: center;
    align-content: center;
    background-color: #5BC3AC;
    border-radius: 0.25em;
    color: #FFFFFD;
    display: block;
    font-size: 1.3em;
    justify-content: center;
    margin: 0.2em;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}

.bigmessage {
    -moz-align-content: center;
    -ms-border-radius: 0.25em;
    -o-align-content: center;
    -o-justify-content: center;
    -webkit-align-content: center;
    -webkit-justify-content: center;
    align-content: center;    
    color: #FFFFFD;
    display: block;
    font-size: 3.0em;
    justify-content: center;
    margin: 0.1em;
    padding: 0.1em;
    padding-left: 1em;
    padding-right: 1em;        
}

.club:hover { color: #6F808A; }

.club a {
    color: inherit;
    text-decoration: none;
}

.blockheader, .bigmessage, .club span {
    align-self: center;
    display: block;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.player {
    color: #FFFFFD;
    display: block;
    flex: auto;
    font-size: 1.1em;
    margin: 0.2em;
    padding: 0.4em;
    padding-right: 2em;
}

.playertop { border-bottom: 2px solid #6F808A; }

.playerbottom { border-top: 2px solid #6F808A; }

.serviceindicator, .indicator {
    border-radius: 50%;
    display: inline-block;
    height: 0.75em;
    margin: 0.2em;
    vertical-align: middle;
    width: 0.75em;
}

.serviceindicator { background-color: #64C1AF; }

.player span {
    margin: 0.2em;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.game, .set, .scorecell, .setbig {
    align-content: center;
    background-color: #43545C;
    border-color: #6F808A;
    border-radius: 0.4em;
    border-style: solid;
    border-width: 2px;
    color: #FFFFFD;
    display: flex;
    flex-direction: column;
    font-size: 1.4em;
    font-weight: bolder;
    height: 2.5em;
    justify-content: center;
    margin: 4px;
    padding: 0.25em;
    text-align: center;
    vertical-align: middle;
    width: 2.5em;
}

.setbig {
    color: #6F808A;
    font-size: 2.5em;
    height: 2em;
    margin: 0.2em;
    padding: 0;
    width: 2em;
}

.time {
    background: #5BC3AC;
    border: none;
    height: 0.8em;
    margin: 6px;
}

.time span {
    font-size: 70%;
    font-weight: normal;
    padding: 0.1em;
}

.set { color: #6F808A; }

.setactive { color: #FFFFFD; }

.serving {
    border-color: #64C1AF;
    color: #64C1AF;
}

.scorerow, .timerow {
    display: flex;
    margin: 0;
}

.game {
    background: #2B383E;
    border-radius: 50%;
}

.hidden { display: none; }

@media only screen and (max-width: 700px) {
    * { font-size: 95%; }

    .matchblock {
        flex-basis: 100%;
        flex-direction: column;
    }

    .match {
        display: block;
        margin: 0.1em;
    }

    .playerimage {
        height: 6em;
        width: 6em;
    }

    #matchcontainer {
        flex-flow: row wrap;
        padding: 0.1em;
    }

    .scorecontainer { padding: 0.5em; }
}

@media only screen and (min-width: 700px) {
    * { font-size: 97%; }

    .matchblock {
        flex-basis: 100%;
        flex-direction: column;
    }

    #matchcontainer {
        flex-flow: row wrap;
        padding: 1em;
    }
}

@media only screen and (min-width: 1000px) {
    html { font-size: 100%; }
}

@media only screen and (min-width: 1200px) {
    html { font-size: 105%; }

    .matchblock { flex-basis: 30%; }
}