.scoreContainer {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}

.scoreTableContainer {
    display: table;
    margin: 0 auto;
}

.scoreGame, .scoreActiveSet, .scoreSet, .scorePlayer, .scoreRectangle {
    padding: 6px;
    margin: 1px;
    height: 18px;
    border: solid;
    border-width: 1px;
    border-spacing: 1px;
}

.scorePlayer {
    color: #FFF;
    background-color: #555;
	
    letter-spacing: 0.15em;		
		
    border-left-color: #666;
    border-top-color: #777;
    border-bottom-color: #111;
    border-right-color: #111;
}

.scorePlayerServing { color: #EC4; }

#players {
    padding: 1px;
    margin: 1px;
}

.scoreContainer { font-size: 14px; }

.scoreContainer table {
    padding: 0;
    margin: 0;
}

.scoreContainer td {
    padding: 1px;
    margin: 0;
    white-space: nowrap;
}

.scoreActiveSet, .scoreSet {
    color: #FFF;
	
    background: #555;
	
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
		
    border-left-color: #666;
    border-top-color: #777;
    border-bottom-color: #222;
    border-right-color: #222;
}

.scoreActiveSet {
    background-color: #EC4;
    border-left-color: #FC5;
    border-top-color: #FC5;
    border-bottom-color: #CB3;
    border-right-color: #CB3;
    color: #000;
}

.scoreGame {
    color: #000;
    background-color: #EEE;

    width: 32px;
    padding-left: 8px;
    padding-right: 8px;
	
    border-left-color: #FFE;
    border-top-color: #FFE;
    border-bottom-color: #DDE;
    border-right-color: #DDE;
    text-align: center;
}