/* top elements */

* {
    padding: 0;
    margin: 0;
    outline: 0
}

body {
    margin: 0;
    padding: 0;
    font: normal 12px/1.7em 'Segoe UI', 'Trebuchet MS', Tahoma, Sans-serif;
    text-align: center;
    background: #444446 repeat-x 0 0;
    background-repeat: no-repeat;
    color: #EEEEEE;
}

/* links */

a {
    color: #003366;
    background-color: inherit;
    text-decoration: none;
}

a:hover {
    color: #FAA34B;
    background-color: inherit;
    text-decoration: underline;
    border: none;
}

hr {
    margin: 5px 40px;
    border: 1px solid #db5b3e;
    color: #db5b3e;
}

/* headers */

h1, h2, h3 {
    font: 1em 'Segoe UI', 'Trebuchet MS', Tahoma, Arial, Sans-serif;
    color: #db5b3e;
}

h1 { font-size: 1.5em; }

h2 {
    font-size: 2em;
    text-transform: uppercase;
}

h3 { font-size: 1.3em; }

p, h1, h2, h3 {
    margin: 0;
    padding: 8px 5px;
}

ul, ol {
    margin: 10px 30px;
    padding: 0 15px;
}

/* images */

img {
    background: #FAFAFA;
    border: 0;
    padding: 6px;
}

img.float-right { margin: .5em 0 1em 1em; }

img.float-left { margin: .5em 1em 1em 0; }

.login-show { display: none; }

.login-hide { display: inherit; }

.input-login-show { display: inherit; }

/* form elements */

form {
    margin: 5px;
    padding: 5px;
}

form table { border: 0; }

form td { padding: 2px; }

form div label {
    margin: 2px;
    min-width: 200px;
}

form div { margin: 2px; }

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

input {
    padding: .1em;
    border: 1px solid #eee;
    font: normal 1em Verdana, sans-serif;
    color: #555;
    border-radius: 3px;
    vertical-align: middle;
}

form button {
    display: inline;
    margin: 0;
    padding: .25em .8em;
    color: #222;
    background: #db5b3e;
    border: 0;
    border-radius: 4px;
}

.buttonDiv { text-align: right; }

button:hover {
    color: #FFF;
    background: #e37157;
}

textarea {
    width: 55%;
    padding: .1em;
    font: normal 1em/1.5em Verdana, sans-serif;
    border: 1px solid #eee;
    height: 10em;
    display: block;
    color: #777;
}

/* settings */

.settingsGroup, .courtOverViewGroup, .basicGroup {
    border: 1px solid #db5b3e;
    border-bottom-width: 6px;
    border-radius: 4px;
    margin: 5px;
}

.basicGroup { border-top-width: 6px; }


.settingsGroup {
    display: block;
    width: auto;
}

.settingsHeader, .courtOverViewHeader {
    margin: 0;
    padding: 3px;
    background: #db5b3e;
    color: #111;
    font-weight: bold;
    font-size: 14px;
}

.recordButton {
    width: 12px;
    height: 12px;
    border-radius: 8px;
    border: solid #eeeeee 6px;
    border-spacing: 10px;
    background: #ab202e;
    margin: 4px;
    padding: 0;
    vertical-align: central;
}

.saveButton {
    width: 12px;
    height: 12px;
    border-radius: 8px;
    border: solid #eeeeee 6px;
    border-spacing: 10px;
    background: #0065ab;
    margin: 4px;
    padding: 0;
    vertical-align: central;
}

.saveButton:hover { background: #2285cb; }

.recording {
    border-color: #fff;
    background: #86db70;
}

.recordButton:hover { background: #db303e; }

.recording:hover { background: #a1dc91; }

/***********************
	  LAYOUT
************************/

.wrapper {
    position: relative;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

@media (min-width: 320px) {
    .wrapper { width: 100%; }
}

@media (min-width: 500px) {
    .wrapper { width: 100%; }
}

@media (min-width: 900px) {
    .wrapper { width: 900px; }
}

#clubName { display: none; }

#courtName { display: none; }

#header-content, #content, #nav { /*
The width value below sets the total width of the design. It's default value is set to 93%
which means that it will take up 93% of the browser window's width. You can also set it to a 
different percentage	value (90%, 85%, etc.). This design is fluid layout by default, but you
can turn it into a fixed width layout by setting a pixel value to the width (e.g. 900px, 950px).
*/
    width: 100%;
}

/* box */

.box {
    display: inline-block;
    text-align: left;
    margin: auto 5px;
    padding: 6px;
    background: url('classy_fabric.png');
}

/* header */

#header {
    height: 84px;
    background: #AAA url('cross_scratches.png') repeat 0;
}

#header-content {
    position: relative;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    display: table;
}

#header-content h1#logo-text a {
    position: absolute;
    margin: 0;
    padding: 0;
    font: bold 28px 'Segoe UI', 'Trebuchet MS', Tahoma, Arial, Sans-serif;
    letter-spacing: -1px;
    color: #181e24;
    text-decoration: none;
    text-transform: none;

    /* change the values of top and left to adjust the position of the logo*/
    top: 5px;
    right: 10px;
}

#header-content h1#logo-text span { color: #db5b3e; }

#header-content #clubName {
    position: absolute;
    font: 18px 'Segoe UI', 'Trebuchet Ms', Tahoma, Arial, Sans-serif;
    letter-spacing: -1px;
    text-transform: none;
    color: #181e24;
    margin: 0;
    padding: 0;
    text-align: right;

    /* change the values of left and top to adjust the position of the clubName */
    top: 40px;
    right: 10px;
}

/* header court name */

#header-content #header-courtName {
    position: absolute;
    top: 5px;
    left: 10px;
    color: #fff;
    margin: 0;
    padding: 0;
    color: #181e24;
    font: bold 36px 'Segoe UI', 'Trebuchet MS', Tahoma, Sans-serif;
}

/* Navigation */

#nav-wrap {
    height: 40px;
    background: #3A3A3A url(classy_fabric.png) repeat 0;
    border-bottom: 1px solid #222;
    border-top: 1px solid #777;
}

#nav {
    position: relative;
    display: table;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

@media (min-width: 320px) {
    #nav { font-size: 12px; }
}

@media (min-width: 500px) {
    #nav { font-size: 15px; }
}

#nav ul {
    display: inline-block;
    text-align: center;
    list-style: none;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 0;
}

#nav ul li {
    float: left;
    margin: 0 4px;
    letter-spacing: 1px;
    height: 32px;
    display: table;
    border-spacing: 0 4px;
}

#nav ul li a {
    display: table-cell;
    color: #959595;
    float: left;
    width: auto;
    padding: 6px;
    text-decoration: none;
}

#nav ul li a:hover,
#nav ul li a:active { color: #CCC; }

#nav ul li:hover {
    border-top: 4px solid #db5b3e;
    border-bottom: 4px solid #db5b3e;
    border-spacing: 0;
}

#nav ul li.current {
    border-top: 4px solid #db5b3e;
    border-bottom: 4px solid #db5b3e;
    border-spacing: 0;
}

#nav ul li.current a { color: #EEE; }

#playersContent ul {
    display: inline-block;
    text-align: center;
    list-style: none;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 0;
}

#playersContent ul li {
    float: left;
    margin: 0 4px;
    letter-spacing: 1px;
    height: 32px;
    display: table;
    border-spacing: 0 4px;
}

#playButton {
    display: none;
    float: right;
    background: url('play.png') no-repeat;
    width: 24px;
    height: 24px;
    margin: 8px;
}

#playButton:hover { background: url('play_hi.png') no-repeat; }

/* content */

#content-wrap {
    position: relative;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    background: #111;
}

#content {
    text-align: center;
    padding: 0;
    display: table;
    margin: 0 auto;
    min-height: 320px;
}

/* main */

#main {
    margin: 5px;
    padding: 0;
    text-align: left;
}

#main h1 {
    font-size: 2.8em;
    font-weight: bold;
    color: #db5b3e;
    margin: 4px 0;
    letter-spacing: -2px;
    padding-bottom: 0;
}

#main h1 a {
    color: #db5b3e;
    text-decoration: none;
}

#courtsOverview {
    display: block;
    text-align: left;
    margin: 0;
    padding: 0;
}

#courtsOverview ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

#courtsOverview li { float: left; }

.courtOverViewGroup { min-width: 140px; }

.courtOverViewContent {
    padding: 6px;
    background: url('classy_fabric.png') repeat;
}


/* settings */

#settings-wrap {
    background: #111;
    text-align: left;
}

#settings {
    padding: 0;
    display: table;
    text-align: left;
}

/* commercial */

#commercial-banner { margin: 2px; }

#banner-image {
    width: 100%;
    text-align: center;
    max-height: 200px;
}

@media (max-width: 320px) {
    #banner-image { max-width: 280px; }
}

@media (min-width: 320px) {
    #banner-image { width: 280px; }
}

@media (min-width: 500px) {
    #banner-image { width: 468px; }
}

@media (min-width: 900px) {
    #banner-image { width: 728px; }
}

/* footer */

#footer {
    position: relative;
    min-height: 32px;
    margin: 0 auto;
    padding: 0;
    background: #3A3A3A url(classy_fabric.png) repeat 0 0;
    border-top: 1px solid #484848;
    border-bottom: 1px solid #222;
    padding: 0;
}

#footer a {
    text-decoration: none;
    color: #CCC;
}

#footer a:hover { color: #E8F4FF; }

#footer p { padding: 5px 0; }

#footer h2 {
    color: #E8F4FF;
    margin: 0;
    padding: 0 5px;
    text-transform: none;
}


/* footer login */

#login-form form {
    border: 0;
    margin: 2px;
}

#login-form label {
    display: block;
    margin: 1px;
    text-align: left;
}

#login-form input { display: block; }

#login-form button {
    display: block;
    text-align: right;
}

#login-form { text-align: left; }

#login-form div {
    margin: 0;
    color: #BBB;
    padding: 0;
    display: block;
}

/* footer columns */

#footer-columns {
    color: #BBB;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    display: table;
}

#footer-columns ul {
    display: table;
    color: #AAA;
    list-style: none;
    margin: 3px;
    padding: 0;
}

#footer-columns li {
    float: left;
    padding: 0 5px;
}

#footer-columns li a {
    display: table;
    float: left;
    font-weight: normal;
}

/* bottom */

#footer-content {
    clear: both;
    color: #E8F4FF;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-size: .9em;
    vertical-align: middle;
}

/* alignment classes */

.float-left { float: left; }

.float-right { float: right; }

.align-left { text-align: left; }

.align-right { text-align: right; }

/* additional classes */

.clear { clear: both; }

.white { color: #E8F4FF; }

.visible { visibility: visible; }

.hidden {
    visibility: hidden;
    display: none;
}

.tab {
    display: none;
    position: relative;
    top: 0;
    left: 0;
}

img.rssfeed {
    border: none;
    padding: 0 0 5px 0;
    background: transparent;
}